body {
  font-family: fantasy;
}

.background {
  background: url("images/astrology_img.jpg");
  background-size: cover;
  background-position: center bottom;
  /* height: 700vh; */
  width: 100vw;
}

.welcomeHeader {
  /* display: flex; */
  color: white;
  /* justify-content: center; */
  position: absolute;
  /* left: 50%; */
  text-decoration: none;
  font-family: fantasy;
  font-weight: bold;
  /* font-size: 70px; */
  /* width: 100%; */
  left: 50vw;
  transform: translate(-50%, 0);
}

.button:hover {
  transform: scale(1.3);
}

.nav-wrapper{
  display: flex;
  justify-content: flex-end;
}

.button{
  margin-right: 40px;
}
.signList {
  /* display: flex; */
  position: absolute;
  top: 50vh;
  left: 50vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transform: translate(-35px, -35px);
  z-index: 2;
  top: 400px;
}

.mainPage{
  display: flex;
  width: 100%;
  height: 100vh;
}

li {
  position:absolute;
  transition: all 2s linear;
}

.signIcon, .menuIcon {
  position: absolute;
  text-align:center;
  color: white;
}

.signImage {
  width: 70px;
  height: 70px;
}

#moon {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.astroSign-highlight {
  /* opacity: 0.1; */
  font-style:oblique;
}
